<h4><%= link_to 'Sign up', new_user_registration_path %></h4>
<h4><%= link_to "Sign out", destroy_user_session_path, method: :delete %></h4>

<p id="notice"><%= notice %></p>
<p><%= alert %></p>

<h1>Articles</h1>

<%if @articles.empty?%>
  <h1 id="no_article">No articles present</h1>
<%else%>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, article %></td>
          <td><%= article.description %></td>
          <!-- <td><%= link_to 'Show', article %></td> -->
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'Create Article', new_article_path %>
